#portfolio-section {
    padding: 5% calc(5% - 20px);
    box-shadow: 0px 2px 10px 0px rgba(128, 128, 128, 0.492);
    text-align: center;
}

.portfolio-section-header h2 {
    color: #002c6a;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-weight: 700;
}

.portfolio-section-header h2::after {
    content: "";
    display: block;
    position: relative;
    width: 40px;
    height: 3px;
    bottom: -15px;
    left: calc(50% - 20px);
    background-color: #47b2e4;
}

.portfolio-section-header h2::before {
    content: "";
    display: block;
    position: relative;
    width: 120px;
    height: 1px;
    top: 55px;
    left: calc(50% - 60px);
    background-color: #ddd;
}

.portfolio-section-header p {
    text-align: justify;
    text-align-last: center;
    margin: 0px;
    padding: 0px 20px;
}

#portfolio-section .button {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #002c6a;
    border-radius: 5px;
    margin-top: 5%;
    color: white;
    font-weight: 600;
    background-color: #002c6a;
    transition: all linear 400ms;
}

#portfolio-section .button:hover {
    color: #002c6a;
    background-color: white;
}

/* Tablet Wide Screens */
@media (max-width: 992px) {
}

/* New Mobile Phones Wide Screens */
@media (max-width: 428px) {
    #portfolio-section {
        padding: 7%;
    }

    .portfolio-section-header h2 {
        font-size: 1.5rem;
    }

    .portfolio-section-header h2::before {
        top: 46px;
    }

    .portfolio-section-header p {
        padding: 0px;
        margin: 0px;
    }

    #portfolio-section .button {
        font-weight: 400;
        margin-top: 7%;
    }

    #portfolio-section .button:focus {
        font-weight: 600;
    }
}

/* Old Mobile Phones Wide Screens */
@media (max-width: 360px) {
}
